body {
    background-color: lemonchiffon;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: darkgoldenrod;
}

h1 {
    color: mediumseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form input [type="text"]  {
    width: 20%;
    margin: 5px;
    border: 2px solid palevioletred;
    border-radius: 7px;
}